<!-- Contact -->
<div class="">
  <h4 class="">Drop us a line below</h4>

  <form action="">
    <div class="">
      <!-- Name -->
      <div class="">
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name" class="">
          <label for="name">Name</label>
        </fieldset>
      </div>
      <!-- Email -->
      <div class="">
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email" class="">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80" class=""></textarea>
      <label for="message">Your message</label>
    </fieldset>
    <!-- Button -->
    <div class="">
      <button type="submit" class="">Submit</button>
    </div>
  </form>
</div>
