	<!-- Top Bar -->
	<header class="site-header">
		<nav class="top-navbar eg__row">
		  <ul  class="individual eg__flex eg__col-4-sm navigation-list">
		    <li><!-- Breakout --></li> 
		  </ul>

		  <div class="logo eg__col-4-sm align-center layout-background">
		    <a class="" title="Main Link and Logo" href="../homepage-simple/"><strong>Text</strong>Text
		      <!-- <img src="assets/img/placeholder.jpg" alt="Site Logo"> -->
		    </a>
		  </div> 

		  <ul  class="individual eg__flex eg__col-4-sm navigation-list">
		    <li>
     			<a href="../single-page-simple/">Example Link</a>
		    </li>
		    <li>
     			<a href="../single-page-simple/">Example Link</a>
		    </li>
		  </ul>

		  <br class="clear" />
		</nav>
	</header>