{{!-- headerfooter-common.hbs --}}

<div style="border-right: 1px solid red; position: absolute; left: 50%; height: 2880px;"></div>

  {{#> header }}
  {{/header}}

    {{#> block-navheader}}
    {{/block-navheader}}

    {{> body}}

  {{#> footer }}
  {{/footer}}
