{{ define "main" }}

  <article class="container">
    <header class="article-header article-width">
      <h1  class="article-title">{{.Title}}</h1>
      <p   class="article-subtitle">{{.Description}}</p>
      <div class="article-allbar">
        <img src="" alt="Author Image">
        Author  |  {{ .Date.Format "Mon, Tue 30, 2020" }}  |  Read in {{ .ReadingTime }} minutes
      </div>
    </header>

    <div class="article-body article-width">
      {{ if .Params.image }}
      <div class="article-main-image layout-background" style="background-image: url('/img/placeholder.jpg')">
        <img src="{{ .Params.image }}" alt="{{ .Title }}" />
      </div>
      {{ end }}
      <p>
        {{ .Content }}
      </p>
    </div>

    <footer class="article-footer">
      <div class="article-meta">
        <!-- Share Links -->
      </div>
    </footer>
  </article>
{{ end }}
