/************************ ELEMENTS ***************************/
.logo a {
  color: #000;
  text-decoration: none;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
}

.logo a strong {

}

.entrance-image {
  // padding: 1em;
  margin: 0;
}

.newsletter-signup {

}

.newsletter-signup input {
  margin: 0;
}

.short-info {
  background: #fafafa;
  padding: 1em;
}