@media (min-width: 550px) {
 h1 {
  font-size:3.4rem
 }
 h2 {
  font-size:2.8rem
 }
 h3 {
  font-size:2.2rem
 }
 h4 {
  font-size:2.0rem
 }
 h5 {
  font-size:1.8rem
 }
 h6 {
  font-size:1.2rem
 }
}

/**** Conform all ****/
.latest-stories li h2,
h1, h2, h3, h4, h5, h6,
body.media {
    font-family: 'Libre Franklin', sans-serif !important;
    font-weight: 100;
    margin: 0;
}