// .eg_container {
//   margin: 0 auto;
//   width: 80%;
//   max-width: 960px;
// }

// Grid adapted from Zack Cole's "Simple Grid"
// eg or essential grid for HTML or other not well blocked layout but available as a backup 
$width: 96%;
$gutter: 4%;
// Replace these with the proper breakpoints
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px


.eg__widthcontent {
  max-width: $content-width-reading;
}
.eg__widthcontentwide {
  max-width: $content-width-wide;
}
.eg__widthsiteedge {
  max-width: $content-width-siteedge;
}

.eg__widthmobileedge {
  @media only screen and (max-width: ($screen-ml-max + 40)) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.eg__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 75%;
  }
}

.eg__row {
  position: relative;
  width: 100%;
}

.eg__row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.eg__row::after {
  content: "";
  display: table;
  clear: both;
}

.eg__col-1,
.eg__col-2,
.eg__col-3,
.eg__col-4,
.eg__col-5,
.eg__col-6,
.eg__col-7,
.eg__col-8,
.eg__col-9,
.eg__col-10,
.eg__col-11,
.eg__col-12 {
  width: $width;
}

.eg__col-1-sm { width:($width / 12) - ($gutter * 11 / 12); }
.eg__col-2-sm { width: ($width / 6) - ($gutter * 10 / 12); }
.eg__col-3-sm { width: ($width / 4) - ($gutter * 9 / 12); }
.eg__col-4-sm { width: ($width / 3) - ($gutter * 8 / 12); }
.eg__col-5-sm { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
.eg__col-6-sm { width: ($width / 2) - ($gutter * 6 / 12); }
.eg__col-7-sm { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
.eg__col-8-sm { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
.eg__col-9-sm { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
.eg__col-10-sm { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
.eg__col-11-sm { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
.eg__col-12-sm { width: $width; }

@media only screen and (min-width: $breakpoint-med) {
  .eg__col-1 { width:($width / 12) - ($gutter * 11 / 12); }
  .eg__col-2 { width: ($width / 6) - ($gutter * 10 / 12); }
  .eg__col-3 { width: ($width / 4) - ($gutter * 9 / 12); }
  .eg__col-4 { width: ($width / 3) - ($gutter * 8 / 12); }
  .eg__col-5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
  .eg__col-6 { width: ($width / 2) - ($gutter * 6 / 12); }
  .eg__col-7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
  .eg__col-8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
  .eg__col-9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
  .eg__col-10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
  .eg__col-11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
  .eg__col-12 { width: $width; }

  .eg__hidden-sm {
    display: block;
  }
}

.eg__block {
  display: block;
}

.eg__inline {
  display: inline;
}

.eg__flex {
  display: flex;
}

.eg__gap-1 {
  gap: 1.25em;
}

.eg__gap-2 {
  gap: 2.5em;
}

.eg__gap-3 {
  gap: 3.75em;
}

.eg__gap-4 {
  gap: 5em;
}

.eg__gap-5 {
  gap: 6.25em;
}