/*
Index
Background colors
Fonts
Font colors
*/

body.media,
.media .top-navbar,
.media .short-info {
	background: #eee;
}



.media .top-navbar .logo a {
	font-family: ivypresto-text, serif;
}

.media .site-header a,
.media .logo a,
.media .short-info {
	color: #5D5D5D;
} 

.media .latest-stories li {

}