.left-right-image-text {
	background: #fafafa;
}

.block-latest-posts {
	margin: 0;

	li,
	article {
		display: flex;
		flex-direction: row;
  		flex-wrap: wrap;
  		background: #fff;
		padding: 1%;
		margin: 1% 0 5%;
	    box-shadow: 0 0 10px 5px #eee;


		.featured-image.alignright {
			order: 1;
			flex: 0 1 30%; 
			margin: 0;
			z-index: 9000;

			img {
				float: left;
			}
		}

		// a,
		.article-text-block {
			box-shadow: none;
			order: 0;
			margin: 0 -26% 0 0;
			// margin: 0 -19.6% 0 0;
    		padding: .5em 12% .5em 20px;
    		flex: 0 1 75%;
			font-size: 1.85em;
			background: #fbfbfb;

			.article-title {
				margin: 0;
			}
		}

		time {
			order: 1;
			flex: 0 1 70%;
			margin: -6% 0 0 0;
			font-size: 1em;
			padding: 0.5em 2% 0.5em 20px;
		}
	}
}

.block--featureposts {
	margin: 0;

	.block--article {
		padding: 20px;
	    align-items: stretch;
        display: block;
        padding: 0px 0px 1%;
	    @media (min-width: 768px) {
	    	display: flex;
	    	max-height: 340px;
	    	padding: 20px 0 20px 20px;
	    }
	    background: #aaa;
	    margin: 1% 0 5%;	    

	    .block--article__image {
			order: 0;
		    box-shadow: none;
		    margin: 0px;
		    z-index: 2000;
		    position: relative;
		    height: auto;
		    // width: 250%;
		    align-content: stretch;
		    border: 0px;

		    @media (min-width: 768px) {
		    	margin: -20px 0px -20px -20px;
		    }

		    .block--article__image--img {
		    	height: 100%;
    			box-shadow: none;
    			width: 100%;
    			padding: 0;

    			@media (min-width: 768px) {
    				width: initial;
    			}
		    }
	    }

		// a,
		.block--article__text {
			background: #fff;
		    position: relative;
		    z-index: 9000;
		    border-radius: 4px;
	        margin: 5%;
	        padding: 5%;
	        width: 80%;

		    @media (min-width: 768px) {
		    	padding: 20px;
		    	margin-right: 20px;
		    	width: 100%;
		    	margin-left: -64px;
		    }

			.block--article__text--title {
				margin: 0;
			}
		}

		.block--article__date {
			order: 1;
			@media (min-width: 768px) {
				flex: 0 1 70%;
			}
			margin: -6% 0 0 0;
			font-size: 1em;
			padding: 0.5em 2% 0.5em 20px;
		}
	}
}

.block-quotation {
	background: #fafafa;
	padding: 1em;

}

.entrance-image {
	h1 {
		margin: 0;
	}

	p {
		margin: 0;
	}
}