html {
	font-size: 62.5%;
	font-family: sans-serif;
}

b, strong {
  font-weight: bold;
}

body {
	font-size: 1.5em;
	line-height: 1.6;
	margin: 0;
}

/*
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}
*/

body .is-layout-flow > * + * {
  margin-block-start: 0;
  margin-block-end: 0;
}

body .wp-site-blocks > * + * {
  margin-block-start: 0;
}