/*
Index
Background colors
Font colors
*/
.text {



.top-navbar,
.entrance-image,
.short-info {
	background: #222;
}



.logo a,
.entrance-image h1,
.entrance-image p,
.short-info,
.site-header a,
.logo a,
.short-info {
	color: #fff;
}

.entrance-image h1 {
	font-weight: bold;
}

.main-content {
	// margin: 1em 0;
}

footer .logo a {
	color: #222;
}












}