/* ALL THE STYLES */

/* Variables Common */
$eye-rest-color: #fefefe;

/* Variables Interaction */

/* Variables Media */

/* Variables Text */



// @import "normalize";
@import "../../../node_modules/@csstools/normalize.css/normalize.css";
@import "renormalize";
@import "grid";

@import "common";
@import "fonts";
@import "colors";

@import "header";
@import "layout"; 
@import "footer";

/* Include blocks individually? YES */
@import "article";
@import "modularblocks";
@import "tob-timeline";
@import "tob-threedee";
@import "tob-chart";

@import "elements";

@import "interaction";
@import "media";
@import "text"; 