node_modules/
*.scssc
base-wordpress/vendor/
base-wordpress/wordpress/wp-admin/
base-wordpress/wordpress/wp-content/plugins/
base-wordpress/wordpress/wp-content/themes/twentynineteen/
base-wordpress/wordpress/wp-content/themes/twentytwenty/
base-wordpress/wordpress/wp-content/themes/twentytwentyone/
base-wordpress/wordpress/wp-includes/
base-wordpress/wordpress/wp-content/themes/index.php
base-wordpress/wordpress/wp-content/index.php
base-wordpress/wordpress/composer.json
base-wordpress/wordpress/index.php
base-wordpress/wordpress/license.txt
base-wordpress/wordpress/readme.html
base-wordpress/wordpress/wp-activate.php
base-wordpress/wordpress/wp-blog-header.php
base-wordpress/wordpress/wp-comments-post.php
base-wordpress/wordpress/wp-config-sample.php
base-wordpress/wordpress/wp-cron.php
base-wordpress/wordpress/wp-links-opml.php
base-wordpress/wordpress/wp-load.php
base-wordpress/wordpress/wp-login.php
base-wordpress/wordpress/wp-mail.php
base-wordpress/wordpress/wp-settings.php
base-wordpress/wordpress/wp-signup.php
base-wordpress/wordpress/wp-trackback.php
base-wordpress/wordpress/xmlrpc.php
base-wordpress/wordpress/.htaccess
base-wordpress/wordpress/wp-config.php
yarn-error.log
