	{% include "_components/header" %}

	{#
	<div class="media">
	    <div class="container">
	  	  <h1 class=" ">{{ entry.blogTitle }}</h1>

		  <div class=" ">
		    <p>{{ entry.postDate|datetime('D, M j, Y') }}s</p>
		  </div>
		  <div class=" ">
		    {{ entry.introductionContent }}
		  </div>
	  </div>
	</div>
	#}

	{% include '_components/footer' %}