{{!-- layouts/homepage-2-column.hbs --}}
{{#> layouts/headerfooter-common }}

{{#*inline "body"}}

	<div class="entrance-image">
	  <div class="container">
	    <h1 class="">
	    	{{select_content templateTypes bodyClass 'title'}}
	    </h1>
	  
	    <p class="">
	    	{{select_content templateTypes bodyClass 'subtitle'}}
	    </p>
	  </div>
	</div>

	<div class="">
	  <div class="container">

	    <h2 class="">Latest stories</h2>

	    <div class="latest-stories">
	        <ul class="navigation-list row">

			{{#each posts}}
				{{>blocks/block-postpreview-simple post=.}}
			{{/each}}
	        	
	        </ul>

	        <br class="clear">
	      </div>
	  </div>
	</div>

	<div class="short-info">
	  <div class="container row">
	    <h4 class="column col-5">
	      {{templateTypes.simple.declaration}}
	    </h4>
	    <p class="column col-7">
	      {{templateTypes.simple.breakdown}}
	    </p>
	  </div>
	</div>

{{/inline}}


{{/layouts/headerfooter-common}}

