{{!-- layouts/homepage-1-column-wide.hbs --}}
{{#> layouts/headerfooter-common }}


{{#*inline "body"}}

	<div class="entrance-image">
	  <div class="container">
	    <h1 class="">
	      {{templateTypes.interactive.title}}
	    </h1>
	  
	    <p class="">
	      {{templateTypes.interactive.subtitle}}
	    </p>
	  </div>
	</div>

	<div class="dark main-content">
	  <div class="container">

	    <h2 class="">Latest stories</h2>

	    <div class="latest-stories">
	        <ul class="navigation-list row">
	        
			{{#each posts}}
				{{>blocks/block-postpreview-wideinteractive post=.}}
			{{/each}}

	  			
	        </ul>
	    </div>

	    {{!--
	    <div class="further-stories">
	        <ul class="navigation-list row">
	        
				<li class="column col-6">
					<!--
					<div class="elementshowingmotion">
						<video autoplay muted loop>

						    <source src="assets/vid/placeholder.mp4"
						            type="video/mp4">

						    Sorry, your browser doesn't support embedded videos.
						</video>
					</div>
					-->
					
					<a href="../single-post-media/" class="">
						<span class="window"></span>
						<img src="assets/img/placeholder.jpg" alt="Placeholder"/>
						
						<h2 class="">New Post</h2>
						<p class="">Fri, May 29, 2020</p>
						
						<p>
							Sample body text adding a bunch more text to work with so we can then add images left and right, insert quotes, bold, span, italise, and in general, work with the text. Would be good to figure out an average length of paragraphs for a good perspective on sizing.
						</p>
						
						<p class="link">Read more →</p>
					</a>
				</li>
			
				<li class="column col-6">
					<!--
					<div class="elementshowingmotion">
						<video autoplay muted loop>

						    <source src="assets/vid/placeholder.mp4"
						            type="video/mp4">

						    Sorry, your browser doesn't support embedded videos.
						</video>
					</div>
					-->
					
					<a href="../single-post-media/" class="">
						<span class="window"></span>
						<img src="assets/img/placeholder.jpg" alt="Placeholder"/>
						
						<h2 class="">New Post</h2>
						<p class="">Fri, May 29, 2020</p>
						
						<p>
							Sample body text adding a bunch more text to work with so we can then add images left and right, insert quotes, bold, span, italise, and in general, work with the text. Would be good to figure out an average length of paragraphs for a good perspective on sizing.
						</p>
						
						<p class="link">Read more →</p>
					</a>
				</li>
	  			
	        </ul>
	      </div>
	      --}}
	  </div>
	</div>

	<div class="short-info">
	  <div class="container row">
	    <h4 class="column col-5">
	      {{templateTypes.interactive.declaration}}
	    </h4>
	    <p class="column col-7">
	      {{templateTypes.interactive.breakdown}}
	    </p>
	  </div>
	</div>

{{/inline}}


{{/layouts/headerfooter-common}}

