{{!-- layouts/homepage-2-column.hbs --}}
{{#> layouts/headerfooter-common }}

{{#*inline "body"}}


	<div class="entrance-image">
	  <div class="container">
	    <h1 class="">
	      Large Introduction Title
	    </h1>

	    /* php-code */
	    <?php the_content(); ?>
	    /* end-php-code */

	  
	    <p class="">
	      More overview about the site and the point of it.
	    </p>
	  </div>
	</div>

	<div class="">
	  <div class="container">

	    <h2 class="">Latest stories</h2>

	    <div class="latest-stories">
	        <ul class="navigation-list row">

			{{#each posts}}
				{{>blocks/block-simple-postpreview post=.}}
			{{/each}}
	        	
	        </ul>

	        <br class="clear">
	      </div>
	  </div>
	</div>

	<div class="short-info">
	  <div class="container row">
	    <h4 class="column col-5">A declaration of what is being discussed here, punchy, immediate.</h4>
	    <p class="column col-7">A more thorough breakdown of the left-hand declaration that may include links to categories, about, or contact pages, detail that focuses user attention.</p>
	  </div>
	</div>

{{/inline}}


{{/layouts/headerfooter-common}}

