{{!-- layouts/homepage.hbs --}}

{{#> layouts/headerfooter-common }}

{{#*inline "body"}}
	{{#> blocks/block-entrance }}
	{{/blocks/block-entrance}}

	{{#if interaction}}
		{{#> blocks/block-timeline name="tobt" }}
		{{/blocks/block-timeline}}
	{{/if}}

	{{#if media}}
		{{#> blocks/block-chart name="tobt" }}
		{{/blocks/block-chart}}
	{{/if}}

	{{#if text}}
		{{#> blocks/block-threedeeobject name="tobt" }}
		{{/blocks/block-threedeeobject}}
	{{/if}}

	<div class="main-content">
	  <div class="container">
	    <h2 class="">Latest stories</h2>

	    <section class="latest-stories navigation-list row">
			{{#each posts}}
				{{>blocks/block-postpreview-simple columnwidth=6 post=.}}
			{{/each}}
	    </section>
	  </div>
	</div>

	{{#> blocks/block-shortinfo }}
	{{/blocks/block-shortinfo}}
{{/inline}}

{{/layouts/headerfooter-common}}

