{{!-- layouts/homepage-2-column.hbs --}}
{{#> layouts/headerfooter-common }}


{{#*inline "body"}}

		<div class="article-body article-width">
			<figure class="alignright">
				<img src="assets/img/placeholder.jpg" alt="Alternative Text"/>

				<figcaption>Right Aligned Image with Caption.</figcaption>
			</figure>

			<p>
				Sample body text adding a bunch more text to work with so we can then add images left and right, insert quotes, bold, span, italise, and in general, work with the text. Would be good to figure out an average length of paragraphs for a good perspective on sizing.
			</p>

			<p>
				Sample body text adding a bunch more text to work with so we can then add images left and right, insert quotes, bold, span, italise, and in general, work with the text. Would be good to figure out an average length of paragraphs for a good perspective on sizing.
			</p>

			<p>
				Sample body text adding a bunch more text to work with so we can then add images left and right, insert quotes, bold, span, italise, and in general, work with the text. Would be good to figure out an average length of paragraphs for a good perspective on sizing.
			</p>

			<p>
				Sample body text adding a bunch more text to work with so we can then add images left and right, insert quotes, bold, span, italise, and in general, work with the text. Would be good to figure out an average length of paragraphs for a good perspective on sizing. 
			</p>

			<div class="block-latest-posts">
				<article class="article article-sm sm">
					<div class="featured-image alignright" target="_blank" rel="noopener noreferrer">
						<img src="assets/img/placeholder.jpg" alt="Main Article Image">
					</div>
					
					<div class="article-text-block">
						<h3 class="article-title"><strong>Strong</strong> Title</h3>
						<p class="article-description">Short content.</p>
						<p class="article-read-more"><span class="btn-sm article-link"></span></p>
					</div>

					<time datetime="2020-08-14T17:13:30-04:00" class="wp-block-latest-posts__post-date">August 14, 2020</time>
				</article>
			</div>

			<figure class="alignleft">
				<img src="assets/img/placeholder.jpg" alt="Alternative Text"/>

				<figcaption>Left Aligned Image with Caption.</figcaption>
			</figure>

			<p>
				Sample body text adding a bunch more text to work with so we can then add images left and right, insert quotes, bold, span, italise, and in general, work with the text. Would be good to figure out an average length of paragraphs for a good perspective on sizing.
			</p>

			<p>
				Sample body text adding a bunch more text to work with so we can then add images left and right, insert quotes, bold, span, italise, and in general, work with the text. Would be good to figure out an average length of paragraphs for a good perspective on sizing.
			</p>

			<p>
				Sample body text adding a bunch more text to work with so we can then add images left and right, insert quotes, bold, span, italise, and in general, work with the text. Would be good to figure out an average length of paragraphs for a good perspective on sizing.
			</p>

			<p>
				Sample body text adding a bunch more text to work with so we can then add images left and right, insert quotes, bold, span, italise, and in general, work with the text. Would be good to figure out an average length of paragraphs for a good perspective on sizing. 
			</p>

			<br class="clear" />

			<div class="block-latest-posts">
				<article class="article article-sm sm">
					<div class="featured-image alignright" target="_blank" rel="noopener noreferrer">
						<img src="assets/img/placeholder.jpg" alt="Main Article Image">
					</div>
					
					<div class="article-text-block">
						<h3 class="article-title"><strong>Strong</strong> Title</h3>
						<p class="article-description">Short content.</p>
						<p class="article-read-more"><span class="btn-sm article-link"></span></p>
					</div>

					<time datetime="2020-08-14T17:13:30-04:00" class="wp-block-latest-posts__post-date">August 14, 2020</time>
				</article>
			</div>

			<div class="block-feature-posts">
				<article class="featured-article article-sm sm">
					<a class="wp-block-image article-image imagelink" target="_blank" rel="noopener noreferrer">
						<span class="image-marker image-marker-date"></span>

						<img src="assets/img/placeholder.jpg" alt="Main Article Image">
					</a>

					<div class="article-text-block">
						<h3 class="article-title">
							<strong>Strong</strong> | Title of the Featured Post
						</h3>

						<p class="article-description">Demo paragraph of a pretty good length to fill out the height of the block.</p>
						
						<p class="article-read-more">
							<span class="btn-sm article-link"></span>
						</p>
					</div>
				</article>
			</div>	
		</div>

{{/inline}}


{{/layouts/headerfooter-common}}
