  <!-- Top Bar -->
  <header class="site-header">
    <nav class="top-navbar row">
      <ul  class="menu breakout column col-4 navigation-list">
        <li><!-- Breakout --></li> 
      </ul>

      <div  class="logo column col-4 align-center layout-background">
        <a class="" title="Main Link and Logo" href="../homepage-simple/"><strong>Text</strong>Text
          <!-- <img src="assets/img/placeholder.jpg" alt="Site Logo"> -->
        </a>
      </div> 

      <ul  class="menu individual column col-4 align-left navigation-list">
        <li>
          <a href="../single-page-simple/">Example Link</a>
        </li>
      </ul>

      <br class="clear" />
    </nav>
  </header>