{{!--
	Similar to the 3D block, have options where the JS is either a default load right in place, not ideal, or build some pieces to be used later, or don't load anything.
--}}

<div class="">
  <canvas id="chartIdentifier"></canvas>
</div>

 
{{!-- Load in place.
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
--}}

{{!-- Create for later.
	const config = {
	  type: 'line',
	  data,
	  options: {}
	};
--}}

{{!--
	Do nothing. 
--}}