<li class="column col-6">
	<a href="single-post-simple/" class="">
		<img src="assets/img/{{post.image}}.jpg" alt="Placeholder"/>

		<h2 class="">{{post.title}}</h2>
		<p class="">{{post.date}}</p>

		<p class="formattingtextbody">
			{{post.body}}
		</p>
		
		<p class="">Read more &#8594;</p>
	</a>
</li>