	<div class="entrance-image">
	  <div class="container">
	    <h1 class="">
	    	{{select_content templateTypes template 'title'}}
	    </h1>
	  
	    <p class="">
	    	{{select_content templateTypes template 'subtitle'}}
	    </p>
	  </div>
	</div>