	<div class="short-info">
	  <div class="container row">
	    <h4 class="column col-5">
	    	{{select_content templateTypes template 'declaration'}}
	    </h4>
	    <p class="column col-7">
	    	{{select_content templateTypes template 'breakdown'}}
	    </p>
	  </div>
	</div>