{{!--
	Similar to the 3D block, have options where the JS is either a default load right in place, not ideal, or build some pieces to be used later, or don't load anything.
--}}

<div class="tob3d__chart__main">
	{{!-- Add wrapper and title --}}

	<canvas id="chartIdentifier"></canvas>

	<div class="tob3d__chart__description">
		<p>
			Chart explanation, usually short, 2-ish sentences, that introduces the chart and points to the longer text. That said, could have more detail as there is a fair amount of space available here that is not definitely needed for links, or legends.
		</p>
	</div>
	{{!-- Add link to post a the bottom. (Backend of this will take more time.) --}}
</div>

 
{{!-- Load in place.
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
--}}

{{!-- Create for later.
	const config = {
	  type: 'line',
	  data,
	  options: {}
	};
--}}

{{!--
	Do nothing. 
--}}