	<div class="entrance-image">
	  <div class="container">
	    <h1 class="">
	      Large Introduction Title
	    </h1>

	    <p class="">
	      More overview about the site and the point of it.
	    </p>
	  </div>
	</div>