{{!--
	Static block that creates a canvas for a 3D element to be loaded.
	It will include an if that either, loads a default APP and JSON to just display the block,
	create a partial JS that could be loaded? (That might take quite a bit of time...)
	Or do nothing and expect the user to add the app and json pieces themselves. Most likely to be used really. Not everything can be perfectly built from the template right away.
--}}
<section id="tob3d__threedee__number" class="tob3d__threedee__main sceneContainer">

	{{!-- Add wrapper and title --}}
	<canvas></canvas>
	<div class="gizmo-orbit"></div>

	{{!-- Add link to post a the bottom. (Backend of this will take more time.) --}}
</section>

{{!-- Load in place.
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.module.min.js"></script>
	Pretty sure the module one is preferred at this point.
--}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.module.min.js"></script>

{{!-- Create for later.
	const scene = new THREE.Scene();
	const camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );

	const renderer = new THREE.WebGLRenderer();
	renderer.setSize( window.innerWidth, window.innerHeight );
	document.body.appendChild( renderer.domElement );
--}}

{{!--
	Do nothing. 
--}}