/************************ LAYOUT ***************************/
.main-content {

  h2 {
    padding: 20px 0;
    margin: 0;
  }

  p a {
    margin: 0;
  }
}

.layout-background { 
  /*background: pink;*/
}

.latest-stories {
  margin: 0 0 2em;

  li {
    background: #fafafa;
    padding: 0em;

    img {
      // margin: -1em 0 0 -1em;
      width: 100%;
    }

    h2 {
      font-size: 2.25em;
      padding: 0 15px;
      margin: 0 0 10px;
    }

    p {
      padding: 0 15px;
      line-height: 1.25em;
      margin: 0 0 10px;
    }

    a {
      color: #000;
      text-decoration: none;
    }
  }
}


.dark {
  background: #111;
  color: #fff;

  h2,
  p,
  p a {
    color: #fff;
  }
}


footer {
  form {
    display: flex;
    max-width: 25%;
    margin: 0 auto;

    fieldset {
      flex: 0 1 66%;

      input {
        width: 100%;
      }
    }

    button {
      flex: 0 1 33%;
    }
  }
}

.clear {
  clear: both;
}

figure {
  figcaption {
    background: #efefef;
    padding: 5px; 
    margin: -7px 0 0;
  }
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.formattingtextbody {
  line-height: 1.25em;
}