/*
Index
Background colors
Fonts
Font colors
*/

body.media,
.media .top-navbar,
.media .short-info {
	background: #eee;
}

.latest-stories li h2,
h1, h2, h3, h4, h5, h6,
body.media {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 100;
}

.media .top-navbar .logo a {
	font-family: ivypresto-text, serif;
}

.media .site-header a,
.media .logo a,
.media .short-info {
	color: #5D5D5D;
} 

.media .latest-stories li {

}