/************************ LAYOUT ***************************/
.top-navbar {
  /*background: green;*/
  /*box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);*/ 
  background: #fff;
  height: 55px;
}

.top-navbar .logo a {
  /*width: 200px;*/
  height: 40px;
  margin: 7.5px 0;
  overflow: hidden;
  display: block;
  /*background: repeat url(../img/placeholder.jpg);*/
  background-size: 10% !important;
}

.navigation-list {
  list-style: none;
  margin: 0;

  li {
    line-height: 55px;
    padding: 0 1em;
    margin: 0 0 1px;

    a {
      color: #000;
    }
  }
}