.interaction .site-header a {
	color: #111;
}


.interaction .latest-stories li {
  background: none;
  padding: 25em 1em 1em;
  border: 10px solid #fafafa;
}

.logo a {

}

.logo a strong {

}