/*
Index
Background colors
Font colors
*/

.top-navbar {
	background: #eee;
}

.entrance-image {
	background: #fafafa;
	padding: 1em 0 0;
}

.interaction .latest-stories li {
  background: none;
  padding: 0 0 1em;
  border: 10px solid #fafafa;

  img {
  	max-height: 300px;
  }
}

.interaction .site-header a {
	color: #111;
}

.logo a {

}

.logo a strong {

}