/************************ LAYOUT ***************************/
.main-content {

  h2 {
    padding: 20px 0;
    margin: 0;
  }

  p a {
    margin: 0;
  }
}

.layout-background { 
  /*background: pink;*/
}

.latest-stories {
  margin: 0 0 2em;

  li {
    background: #fafafa;
    padding: 1em;

    h2 {
      font-size: 2.25em;
    }

    a {
      color: #000;
      text-decoration: none;
    }
  }
}


.dark {
  background: #111;
  color: #fff;

  h2,
  p,
  p a {
    color: #fff;
  }
}