/************************ LAYOUT ***************************/
.top-navbar {
  /*background: green;*/
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  height: 55px;
}

.top-navbar .logo a {
  /*width: 200px;*/
  height: 40px;
  margin: 7.5px 0;
  overflow: hidden;
  display: block;
  /*background: repeat url(../img/placeholder.jpg);*/
  background-size: 10% !important;
}


.main-content {

  h2 {
    padding: 20px 0;
    margin: 0;
  }

  p a {
    margin: 0;
  }
}



.layout-background {
  /*background: pink;*/
}

.latest-stories {
  margin: 0 0 2em;
}

.latest-stories li {
  background: #fafafa;
  padding: 1em;
}

.latest-stories li h2 {
  font-size: 2.25em;
}

.latest-stories li a {
  color: #000;
  text-decoration: none;
}

.interaction .latest-stories li {
  background: none;
  padding: 25em 1em 1em;
  border: 10px solid #fafafa;
}

.dark {
  background: #111;
  color: #fff;

  h2,
  p,
  p a {
    color: #fff;
  }
}