/* ALL THE STYLES */

@import "./reset";
@import "./grid";
@import "./header";

/* Add buttons, spacers, other repeatable elements in. */

/************************ FONTS **************************
body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*/

.latest-stories li h2,
h1, h2, h3, h4, h5, h6 {
  // font-family: 'M PLUS 1p', sans-serif;
}


/************************ TEXT ***************************/


.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left { 
  text-align: left;
}

.link {
  margin: 0;
}

.flex {
  display: flex;
}

/************************ COLORS ***************************/
body {
  background: #fefefe;
}

@import "./layout";


/************************ SITE ***************************/
.site-footer {
  width: 100%;
  background: #efefef;
  padding: 1em 0;
  /*position: fixed;
  bottom: 0px;*/
}

@import "./article";
@import "./elements";

@import "./interaction";
@import "./media";
@import "./text";