<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  {{ partial "head" . }}
  <body class="">

    {{ block "header" . }}
      <header class="site-header">
        {{ partial "nav" . }}
      </header>
    {{end}}

    {{ block "main" . }}{{ end }}

    {{ block "footer" . }}
      <footer class="site-footer align-center layout-background">
        {{ partial "footer" . }}
      </footer>
    {{end}}

    {{ $script := .Site.Data.webpack.main }}
    {{ with $script.js }}
      <script src="{{ relURL . }}"></script>
    {{ end }}
  </body>
</html>
