{{!-- homepage-interaction.hbs --}}

{{#> headerfooter-common }}

{{#*inline "body"}}
	{{#> block-entrance template="base" }}
	{{/block-entrance}}

	{{#> block-featured-fullwidth template="base" }}
	{{/block-featured-fullwidth}} 

	<div class="main-content">
	  <div class="container">
	    <h2 class="">Latest stories</h2>

	    <section class="navigation-list row">
			{{#each posts}}
				{{>block-postpreview-simple columnwidth=6 post=.}}
			{{/each}}
	    </section>
	  </div>
	</div>


	{{#> block-leftright-imagetext position="right" }}
	{{/block-leftright-imagetext}} 

	{{#> block-leftright-imagetext position="left" }}
	{{/block-leftright-imagetext}} 


	{{#> block-shortinfo template="base" }}
	{{/block-shortinfo}}
{{/inline}}

{{/headerfooter-common}}
