{{!-- homepage-interaction.hbs --}}

{{#> headerfooter-common }}

{{#*inline "body"}}
	{{#> block-introduction-h2andp template="base" }}
	{{/block-introduction-h2andp}}

	{{#> block-featured-articlesinglewide template="base" }}
	{{/block-featured-articlesinglewide}} 

	{{#> block-featured-fullwidthcover template="base" }}
	{{/block-featured-fullwidthcover}} 

	{{#> block-articles template="base" }}
	{{/block-articles}}

	<section class="eg__container eg__widthcontentwide">
		{{#> block-leftright-imagetext position="right" }}
		{{/block-leftright-imagetext}} 

		{{#> block-leftright-imagetext position="left" }}
		{{/block-leftright-imagetext}} 
	</section>

	{{#> block-shortinfo template="base" }}
	{{/block-shortinfo}}
{{/inline}}

{{/headerfooter-common}}
