{{!-- homepage-interaction.hbs --}}

{{#> headerfooter-common }}

{{#*inline "body"}}
	{{#> block-entrance template="base" }}
	{{/block-entrance}}

	{{#> block-featured-fullwidth template="base" }}
	{{/block-featured-fullwidth}} 

	<section class="block--featureposts">
	{{#each posts}}
		{{>block-postpreview-simple post=.}}
	{{/each}}
	</section>

	{{#> block-leftright-imagetext position="right" }}
	{{/block-leftright-imagetext}} 

	{{#> block-leftright-imagetext position="left" }}
	{{/block-leftright-imagetext}} 


	{{#> block-shortinfo template="base" }}
	{{/block-shortinfo}}
{{/inline}}

{{/headerfooter-common}}
