{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header change">
    {{> site-header}}
</header>

<!-- <div class="entrance-image">
  <div class="container">
    <h1 class="">
      {{@site.title}}
    </h1>

    {{#if @site.description}}
    <p class="">
      {{@site.description}}
    </p>
    {{/if}}
  </div>
</div> -->

<div class="change">
  <div class="container">

    <h2 class="">Latest stories</h2>

    <div class="latest-stories">
        <ul class=" navigation-list">
            {{#foreach posts}}

                <li class="six columns">
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
                </li>

            {{/foreach}}
        </ul>

        <br class="clear"/>
    </div>

    <!--       
        <div class="">
            <a href="/post" class="">Read more</a>
        </div> 
    -->

  </div>
</div>

<div class="short-info">
  <div class="container">
    <h2 class="four columns">{{@site.description}}</h2>
    <p class="eight columns">{{@site.description}}</p>
  </div>
</div>