{{!-- Since moving to collections of blocks, remove the intermediates (header blocks, footer blocks, so on) --}}

{{!-- topages/homepage.hbs --}}

{{#> ../headerfooter-common }}

{{#*inline "body"}}
	{{#> ../toblocks/block-entrance }}
	{{/../toblocks/block-entrance}}

	<div class="main-content">
	  <div class="container">
	    <h2 class="">Latest stories</h2>

	    <section class="latest-stories navigation-list row">
			{{#each posts}}
				{{>../toblocks/block-postpreview-simple columnwidth=6 post=.}}
			{{/each}}
	    </section>
	  </div>
	</div>

	{{#> ../toblocks/block-shortinfo }}
	{{/../toblocks/block-shortinfo}}
{{/inline}}

{{/../headerfooter-common}}