<div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l">Guides and Perspectives</h2>
    <p class="w-60-l mb0">While there will be some tutorials and practical info, there will also be larger views of where computers are used and what shape they take.</p>
  </div>
</div>