<footer class="bg-black ph3 pv4 white">
	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<p class="db w6 center mb4 br0">$$title$$</p>
			
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>$$newsletter-reason$$</p>

			<form action="" class="flex-ns mb3">

				  <fieldset class="flex-auto mb2 mb0-ns mr2-ns" name="newsletter" action="newsletter-subscribe">
				    <input type="text" id="email" placeholder="Your email" class="w-100">
				    <label for="email">Your email</label>
				  </fieldset>

				  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Submit</button>

			</form>


		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">$$title$$</h3>
				<ul class="mb3">
					<li><a href="/post" class="link">Blog</a></li>
				</ul>
			</div>

		</div>

	</div>
</footer>

</body>
</html>