<!DOCTYPE HTML>
<html lang="{{ currentSite.language }}" dir="{{craft.app.i18n.getLocaleById(currentSite.id).getOrientation()}}">
<head>


{% include '_system/meta' %}
{% include '_system/seo' %}
{% include '_system/favicons' %}
{% include '_system/fonts' %}
{% include '_system/static' %}
{% include '_system/tag_manager' %}
{% block head %}{% endblock %}

</head>

<body class="{{body_class ?? null}} {{craft.app.request.isMobileBrowser() ? 'is-mobile' : 'is-desktop'}}">

	<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">
		<a href="/" class="pa3 db mr4 h-100 w6 flex-none">
			$$title$$
		</a>

		
		<ul class="flex b grey-3">
			<li><a href="/blog" class="pa3 no-underline db">Blog</a></li>
		</ul>
	</nav>