<!DOCTYPE HTML>
<html lang="{{ currentSite.language }}" dir="{{craft.app.i18n.getLocaleById(currentSite.id).getOrientation()}}">
<head>

{% include '_system/seo' %}
{% include '_system/meta' %}
{% include '_system/favicons' %}

{% include '_system/fonts' %}
{% include '_system/static' %}
{% include '_system/tag_manager' %}
{% block head %}{% endblock %}

</head>

<body class="{{body_class ?? null}} {{craft.app.request.isMobileBrowser() ? 'is-mobile' : 'is-desktop'}}">


<header class="site-header">
    <div class="outer site-nav-main">
	    <div class="inner">
			<nav class="top-navbar">
				<ul class="menu breakout four columns navigation-list">
					<li><!-- Breakout --></li>
				</ul>

				<div class="logo four columns align-center layout-background">
		    		<a class=" " title="Main Link and Logo" href="/">
		      		<!-- <img src="assets/img/placeholder.jpg" alt="Site Logo"> -->
		    		</a>
		  		</div>
				
				<ul class="menu individual four columns navigation-list flex">
					<li><a href="/frequently-asked-questions" class="">FAQs</a></li>
					<li><a href="/blog" class="pa3 no-underline db">Blog</a></li>
				</ul>

				<br class="clear" />
			</nav>
		</div>
	</div>
</header>
