<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <html lang="en">

    <link rel="apple-touch-icon" sizes="180x180" href="src/assests/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="src/assests/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="src/assests/ico/favicon-16x16.png">
    <!-- <link rel="manifest" href="/site.webmanifest"> -->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>
      {{#if title}}
        {{title}}
      {{else}}
        Base Page Title
      {{/if}}
    </title>

  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;500;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;400&display=swap" rel="stylesheet">

    <!-- /* only-html-code */ -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- /* end-only-html-code */ -->

    {{#> head-block}}
      {{!-- Custom <head> content per page could be added. --}}
    {{/head-block}}

    <!-- /* php-code */ -->
    <?php wp_head(); ?>
    <!-- /* end-php-code */ -->
  </head>
  <body class="{{template}}">

  	<a class="skip-link screen-reader-text" href="#content">Skip to content</a>
