<div class="post__preview">
	<strong class="post__title">{{selectContent posts 0 'title'}}</strong>

	<strong class="post__date">{{selectContent posts 0 'date'}}</strong>

	<a class="post__link" href="#postonpagelink" alt="Image of {{selectContent posts 0 'title'}}">Read full post here →</a>
</div>