<div class="short-info">
  <div class="container">
    <h2 class="four columns">Guides and Perspectives</h2>
    <p class="eight columns">While there will be some tutorials and practical info, there will also be larger views of where computers are used and what shape they take.</p>
  </div>
</div>