/~ /* html-start */ ~/
<div class="eg__container eg__widthcontentwide entrance-image">
    <h1 class="">
    	{{selectContent templateTypes template 'title'}}
    </h1>
  
    <p class="">
    	{{selectContent templateTypes template 'subtitle'}}
    </p>
</div>
/~ /* html-end */ ~/

/~ /* wordpress-start */ ~/
<?php
/**
 * Title: Block Introduction H2 and P
 * Slug: blocksslim/block-intro-h2andp
 * Categories: slim
 * Block Types: template/template-part/content
 */
?>
<!-- wp:group {"align":"wide","className":"eg__widthmobileedge","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide eg__widthmobileedge">
	<!-- wp:heading -->
	<h2 class="wp-block-heading">This is all good text.</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>This is all good text.</p>
	<!-- /wp:paragraph -->
</div>
<!-- /wp:group -->
/~ /* wordpress-end */ ~/