/~ /* html-start */ ~/
<article class="block--article">
    <a class="block--article__image" href="../../single-post-simple/">
        <img src="../../assets/img/{{post.image}}.jpg" alt="Placeholder"/>
    </a>

    <div class="block--article__text">
        <h2 class="block--article__text--title">
            <a href="../../single-post-simple/">
                {{post.title}}
            </a>
        </h2>
        
        <p class="block--article__date">{{post.date}}</p>

        <div class="block--article__description">
            {{post.excerpt}}

            <p class="wp-block-post-excerpt__more-text">
                <a class="" href="../../single-post-simple/">Read more &#8594;</a>
            </p>
        </div>
    </div>
</article>
/~ /* html-end */ ~/

/~ /* wordpress-start */ ~/
/* Not a WordPress block, just for packaging block structure. */
/~ /* wordpress-end */ ~/
