.wp-block-block-article-article-block {
    padding: 20px;
    align-items: stretch;
    background: #aaa;
    margin: 1% 0 5%;
    display: flex;
    max-height: 340px;
    padding: 20px 0 20px 20px;

    .article-image {
        order: 0;
        box-shadow: none;
        margin: -20px 0px -20px -20px;
        z-index: 2000;
        position: relative;
        height: auto;
        align-content: stretch;
        border: 0px;

        img,
        button {
            height: 100%;
            box-shadow: none;
            width: 100%;
            width: initial;
            max-width: initial;
        }
    }

    .article-text-block {
        background: #fff;
        position: relative;
        z-index: 9000;
        padding: 20px;
        border-radius: 4px;
        margin-left: -64px;
        width: 100%;
        margin-right: 20px;

        .article-title {
            margin: 0;
        }
    }
}