<!DOCTYPE HTML>
<html lang="{{ currentSite.language }}" dir="{{craft.app.i18n.getLocaleById(currentSite.id).getOrientation()}}">
<head>

{% include '_system/seo' %}
{% include '_system/meta' %}
{% include '_system/favicons' %}
{% include '_system/fonts' %}
{% include '_system/static' %}
{% include '_system/tag_manager' %}
{% block head %}{% endblock %}

</head>

<body class="{{body_class ?? null}} {{craft.app.request.isMobileBrowser() ? 'is-mobile' : 'is-desktop'}}">

	{% include "_components/header" %}

	{% include "_components/featured_post" %}

	{% include "_components/blog_list" %}

	{% include "_components/blurb" %}

	{% include '_components/quick_edit' %}

	{% include '_components/footer' %}

</body>
</html>