<div class="entrance-image" >
  <div class="container">
	  <h1 class="">
	    Shapes and Screens
	  </h1>

	  <p class="">
	    Computing continues to transform, adapt, reorient
	  </p>
  </div>
</div>