<footer class="site-footer align-center layout-background">
	<div class="newsletter-signup">

		<div class="">

			<p class="logo"></p>

			<form action="https://tinyletter.com/" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
				<p class="" 
					<label for="tlemail"></label></p><p><input type="text" style="width:240px" name="email" id="tlemail" placeholder="Enter your email address" />

					<input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" />

					<br/>

					<small><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></small>
				</p>
			</form>

		</div>

		<section class="copyright">
			<a class="logo" href=""></a> &copy; {{ "now"|date("Y") }}
		</section>

	</div>
</footer>

	{% if craft.app.request.getServerName() == '.com' %}
		{% include '_components/analytics' %}
	{% endif %}
</body>
</html>