<!DOCTYPE HTML>
<html lang="{{ currentSite.language }}" dir="{{craft.app.i18n.getLocaleById(currentSite.id).getOrientation()}}">
<head>

{% include '_system/seo' %}
{% include '_system/meta' %}
{% include '_system/favicons' %}

{% include '_system/fonts' %}
{% include '_system/static' %}
{% include '_system/tag_manager' %}
{% block head %}{% endblock %}

</head>

<body class="{{body_class ?? null}} {{craft.app.request.isMobileBrowser() ? 'is-mobile' : 'is-desktop'}}">

<!-- Top Bar -->
<header class="site-header">
	<nav class="top-navbar row">
	  <ul  class="menu breakout column col-4 navigation-list">
	    <li><!-- Breakout --></li> 
	  </ul>

	  <div  class="logo column col-4 align-center layout-background">
	    <a class="" title="Main Link and Logo" href="../homepage-simple/"><strong>Text</strong>Text
	      <!-- <img src="assets/img/placeholder.jpg" alt="Site Logo"> -->
	    </a>
	  </div> 

	  <ul  class="menu individual column col-4 align-left navigation-list row">
	    <li>
			<li><a href="/frequently-asked-questions" class="">FAQs</a></li>
			<li><a href="/blog" class="pa3 no-underline db">Blog</a></li>
	    </li>
	  </ul>

	  <br class="clear" />
	</nav>
</header>
