{{!-- pages/wordpress/simple-homepage-wordpress.hbs --}}

	{{#> blocks/block-entrance template="simple" title="title" }}
	{{/blocks/block-entrance}}


	<div class="main-content">
	  <div class="container">

		<?php the_content(); ?>

	    <h2 class="">Latest stories</h2>

	    <div class="latest-stories">
	        <ul class="navigation-list row">

			{{#each posts}}
				{{>blocks/block-postpreview-simple columnwidth=6 template="simple" title="title" post=.}}
			{{/each}}
	        
	        </ul>
	    </div>
	  </div>
	</div>

	{{#> blocks/block-shortinfo template="simple" title="title" }}
	{{/blocks/block-shortinfo}}
